/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: #0056b3 3px solid;
    min-height: 70px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    float: left;
    margin: 0;
    font-size: 24px;
}

header nav {
    float: right;
    margin-top: 5px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 15px;
}

header a:hover {
    color: #77aaff;
}


/* Main Content */
main section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

main h2 {
    color: #0056b3;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

#news ul {
    list-style: none;
    padding: 0;
}

#news li {
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}